@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Stick+No+Bills&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  background-color: black;
  font-family: "Lato", sans-serif;
  width: 100%;
  min-width: 992px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar {
  height: 92px;
  width: 75%;
  min-width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

ul.nav li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}

ul.nav li a {
  text-decoration: none;
  color: white;
}

#navbut-a {
  font-size: 14px;
  padding: 14px;
  border: 1px solid white;
  border-radius: 50px;
}

#navbut-b {
  font-size: 14px;
  background-color: #ed1c24;
  padding: 9.5px 5.5px;
  border: 1px solid #ed1c24;
  border-radius: 50px;
}

.button-order {
  display: flex;
  align-items: center;
}

#navbut-b svg {
  color: #ed1c24;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-left: 7px;
}

.mainpage {
  color: white;
  background-color: black;
  position: relative;
  top: 82px;
  font-family: "Lato", sans-serif;
}

/* .web-slider {
  width: 100%;
  min-width: 992px;
  height: 74vh;
}

.slider {
  width: 100%;
  height: 80vh;
  margin: auto;
  background-image: url(./assets/banners/banner1.png);
  background-size: 100% 100%;
  animation: slider 20s infinite 25s;
}

@keyframes slider {
  0% {
    background-image: url(/assets/banners/banner1.png);
  }
  25% {
    background-image: url(/assets/banners/banner2.png);
  }
  50% {
    background-image: url(/assets/banners/banner3.png);
  }
  75% {
    background-image: url(/assets/banners/banner4.png);
  }
} */

.slider {
  width: 100%;
  /* min-width: 992px; */
  height: 500px;
  overflow: hidden;
}

figure {
  position: relative;
  width: 400%;
  left: 0;
  animation: slide 5s infinite;
}

.slide {
  position: relative;
  width: 25%;
  float: left;
}

.slide img {
  width: 100%;
  height: 500px;
}

@keyframes slide {
  /* 0% {
    left: 0%;
  }
  14% {
    left: 0%;
  }
  28% {
    left: -100%;
  }
  42% {
    left: -100%;
  }
  56% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  84% {
    left: -300%;
  }
  100% {
    left: -0%;
  } */

  0%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  75%{
    left:-300%;
  }
  100%{
    left: 0;
  }
}

.brands {
  background-color: black;
  width: 100%;
  min-width: 992px;
  font-family: "Lato", sans-serif;
  margin: 30px 0px 30px 0px;
}

.brand-container {
  padding: 30px 0;
}

.brand-detail {
  text-align: center;
  width: 50%;
  padding: 20px 0px;
  margin: auto;
}

.brand-detail p {
  font-size: 40px;
  margin: 0;
  color: #ffffff;
}

.snplogo {
  font-family: "Stick No Bills", sans-serif;
  font-size: 52px;
}

.note {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
}

.brandcards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.bcard1,
.bcard2,
.bcard3 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bcardimg1,
.bcardimg2,
.bcardimg3 {
  background-color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px;
}

.snpborder {
  color: white;
  padding: 15px 30px;
  border: 0.5px solid white;
  border-radius: 30px;
  margin-top: 20px;
  text-decoration: none;
}

.franchises {
  background-color: rgba(255, 255, 255, 0.06);
}

.franchises-container {
  width: 80%;
  margin: auto;

  position: relative;
  padding: 70px;
}

.fran-detail {
  text-align: center;
  width: 100%;
  padding: 20px 0px;
  margin: auto;
  font-family: "Lato", sans-serif;
}

.fran-detail p {
  font-size: 40px;
  margin: 0;
  color: white;
}

.sideone1 {
  position: absolute;
  right: 32px;
  top: 32px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

.content {
  width: 100%;
  padding: 20px;
  text-align: left;
}

.content small {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 2px;
}

.line1 {
  font-size: 35px;
  margin: 6px 0px 18px 0px;
}

.snplogo2 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 35px;
  margin: 0;
}

.subcontent {
  color: rgba(255, 255, 255, 0.7);
}

.pinlocation,
.phone {
  display: flex;
  column-gap: 4px;
  align-items: center;
}

#pinlocation,
#phone {
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
}

.pinlocation p,
.phone p {
  font-size: 16px;
  margin: 5px;
}

.row a {
  text-decoration: none;
}

.button-direction {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 10px 2px;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 60px;
}

.button-direction svg {
  color: #ed1c24;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-left: 7px;
}

.fran-img {
  width: 100%;
  height: 100%;
}

.fran-img img {
  max-width: 100%;
  height: 100%;
}

.express-container {
  width: 85%;
  margin: auto;

  position: relative;
  padding: 70px;
}
.express-detail {
  text-align: center;
  width: 100%;
  padding: 20px 0px;
  margin: auto;
  font-family: "Lato", sans-serif;
}

.express-detail p {
  font-size: 40px;
  margin: 0;
  color: white;
}

.sideone2 {
  position: absolute;
  top: 32px;
  left: 32px;
}

.expresscards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
  justify-content: center;
}

.ecard {
  width: 30%;
}

.exp-img {
  width: 100%;
  height: 50%;
}

.exp-img img {
  width: 100%;
  height: 100%;
}

.expcontent {
  text-align: center;
}

.expcontent small {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 2px;
}

.eline1 {
  font-size: 24px;
  margin: 6px 0px 18px 0px;
  align-items: center;
}

.snplogo3 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 24px;
  margin: 0;
}

.esubcontent {
  color: rgba(255, 255, 255, 0.7);
  align-items: center;
}

.epinlocation,
.ephone {
  display: flex;
  column-gap: 4px;
  align-items: center;
  justify-content: center;
}

#epinlocation,
#ephone {
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
}

.epinlocation p,
.ephone p {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  margin: 5px;
}

.ebutton-direction a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 20px auto 0;
  padding: 10px 2px;
  border: 1px solid white;
  border-radius: 50px;
  color: white;
}

.ebutton-direction a svg {
  color: #ed1c24;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-left: 7px;
}

.village {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.06);
}

.village-container {
  width: 90%;
  margin: auto;
  height: fit-content;
}

.row-village {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.button-direction2 a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 20px 0;
  padding: 10px 2px;
  border: 1px solid #28a745;
  background-color: #28a745;
  border-radius: 50px;
  color: white;
}

.button-direction2 a svg {
  color: #28a745;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  margin-left: 7px;
}
